<div class="card-body">
    <h5 class="card-title">
        {{ match.other_user }}
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
        {{ match.forward_score }} % match
    </h6>
    <p class="card-text">
        this is where further infos about the user will be displayed
    </p>

    <a class="button is-primary" href="{% url 'core:profile' match.other_user %}">
        open their profile
    </a>
</div>