{% load fontawesome_5 %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item brand" href="#">
            Underground Soup
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="our_navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="our_navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'core:index' %}">home</a>

            {% if user.is_authenticated %}
                <a class="navbar-item" href="{% url 'core:profile' user.username %}">
                    my profile
                </a>
            {% endif %}


            <a class="navbar-item" href="{% url 'core:potential_matches' %}">
                potential matches
            </a>

            <a class="navbar-item" href="{% url 'core:index' %}"> questions </a>

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{% url 'core:my_account' %}">
                        <span class="icon is-small">{% fa5_icon 'user' %}</span><span>My account</span>
                    </a>
                    <a class="button is-light" href="{% url 'logout' %}">
                        <span class="icon is-small">{% fa5_icon 'sign-out-alt' %}</span><span>Log out</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    $(document).ready(function () {
        $(".navbar-burger").click(function () {
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });
    });
</script>