<div class="block" id="question_{{ answer.question_id }}">
    <div class="card">
        <div class="card-header">
            <p class="card-header-title is-4">{{ answer.question }}</p>

            <a id="update_question_{{ answer.question_id }}"
               class="card-header-icon is-hidden" aria-label="update"
               href="{% url 'core:answer_question' answer.question.id %}">
                                <span class="icon is-small"><i class="fas fa-edit"
                                                               aria-hidden="true"></i>
                                </span></a>

            <a id="control_question_{{ answer.question_id }}" class="card-header-icon"
               aria-label="see question">
                <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
            </a>
        </div>

        <div id="content_question_{{ answer.question_id }}" class="card-content is-hidden">
            <p class="title is-5">
                {% if user.username == req_user.username %}
                    <b>Your answer:</b>
                {% else %}
                    <b>Their answer:</b>
                {% endif %}
            </p>

            <p class="content">{{ answer.answer_self }}</p>
            <p class="title is-5">
                {% if user.username == req_user.username %}
                    <strong>Answers you'll accept:</strong>
                {% else %}
                    <strong>Answers they'll accept:</strong>
                {% endif %}
            </p>
            <ul class="content">
                {% for accepted_choice in answer.answer_other %}
                    <li>{{ accepted_choice }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#control_question_{{ answer.question_id }}").on('click', function () {
            $("#content_question_{{ answer.question_id }}").toggleClass("is-hidden");
            $("#update_question_{{ answer.question_id }}").toggleClass("is-hidden");
        });
    });
</script>