<div class="columns">
    <div class="column">
        {% if form.errors %}
            <ul class="list">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li class="list-item">{{ field.label }}: {{ error|escape }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li class="list-item">{{ error|escape }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {% include "components/_form_field.html" with field=question_form.answer_self %}

            {% include "components/_form_field.html" with field=question_form.answer_other %}

            {% include "components/_form_field.html" with field=question_form.importance %}

            {% include "components/_form_field.html" with field=question_form.hide_my_answer %}

            {{ question_form.question_id }}

            <div class="field is-grouped">
                <p class="control">
                <div class="buttons">
                    <button type="submit" class="button is-primary">
                        {% if random %}
                            Save and Next
                        {% else %}
                            Save
                        {% endif %}
                    </button>
                    {% if random %}
                        <button class="button is-primary is-outlined"
                                onclick="window.location={% url 'core:answer_random_question' %}">
                            Skip and Next
                        </button>
                    {% endif %}
                </div>
                </p>
            </div>
        </form>
    </div>

    <div class="column">
        <div id="engage_conversation_links" class="box is-hidden">
            <h2 class="subtitle is-3">This seems important to you! Do you want to start a conversation about
                it?</h2>
            <a class="button is-medium is-twitter"
               href="https://twitter.com/intent/tweet?text={{ question.question_text }}
               https://{{ base_url }}{% url 'core:answer_question' question_id=question.id %}">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        function animate_appearance(object) {
            object.hide();
            object.toggleClass("is-hidden", false);
            object.show(400);
        }

        const conversationLinks = $("#engage_conversation_links");
        const value = $("#id_importance option:selected").val();
        if (value > 200) {
            animate_appearance(conversationLinks);
        }
        $("#id_importance").on('change', (event) => {
            if ($(event.currentTarget).val() > 200) {
                animate_appearance(conversationLinks);
            } else {
                conversationLinks.toggleClass("is-hidden", true);
            }
        })
    });
</script>