@font-face {
    font-family: 'SpecialElite';
    src: local('SpecialElite'), url('/static/fonts/SpecialElite-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Harmattan';
    src: local('Harmattan'), url('/static/fonts/Harmattan-Regular.ttf') format("truetype");
}


.brand {
    font-family: 'SpecialElite', cursive;
    font-size: x-large;
}

main {
    line-height: 1.6;
    font-size: 20px;
    color: #444;
    font-family: 'Harmattan', sans-serif;
}

header {
    font-family: 'Harmattan', sans-serif;
}

.form-block {
    margin-top: 1rem;
    margin-left: -1.25rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.25rem solid rebeccapurple;
}
