{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    {% if form.errors %}
    <p>
      Your username and password didn't match. Please try again.
    </p>
    {% endif %}
    {% if next %}
    {% if user.is_authenticated %}
    <p>
      Your account doesn't have access to this page. To proceed, please login with an account
      that has access.
    </p>
    {% else %}
    <p>
      Please login to see this page.
    </p>
    {% endif %}
    {% endif %}
    <div class="form-block">
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="field">

          <label class="label">{{ form.username.label_tag }}</label>
          <p class="control has-icons-left has-icons-right">
            {{ form.username }}
            <span class="icon is-small is-left">
              <i class="fas fa-user-astronaut"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <label class="label">{{ form.password.label_tag }}</label>
          <p class="control has-icons-left">
            {{ form.password }}
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-primary">
              Login
            </button>
            <input name="next" type="hidden" value="{{ next }}">
          </p>
        </div>
      </form>
      {# Assumes you setup the password_reset view in your URLconf #}
      <a href="{% url 'core:signup' %}">
        signup!
      </a>
    </div>
  </div>
</section>
{% endblock %}