{% extends "base.html" %}ŝ
{% block content %}
    <section class="section">
        <div class="container">
            {% if user %}
                <h1 class="title is-1">
                    My Account
                </h1>
                <p>Your settings and data.</p>

                <div class="form-block">
                    <h2 class="title is-3">
                        Change Password
                    </h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ password_form }}
                        <input name="password" type="hidden" value="true">
                        <div class="field">
                            <p class="control">
                                <button class="button is-primary" type="submit">
                                    Save changes
                                </button>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="form-block">
                    <h2 class="title is-3">
                        Delete Account
                    </h2>
                    <p>
                        Yeah sometimes we just need to leave things behind, looking forward to seeing you again,
                        maybe?
                    </p>
                    <form method="post">
                        {% csrf_token %}
                        {{ delete_form }}
                        <div class="field">
                            <p class="control">
                                <button class="button is-danger" type="submit">
                                    Delete Account
                                </button>
                            </p>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
