{% extends 'base.html' %}
{% block content %}
<script>
  function add_another_promptform() {
    const form_idx = $("#id_form-TOTAL_FORMS").val();
    $('#answer_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  }
</script>

<section class="section">
  <div class="container">
    <h1 class="title is-1">Add new question:</h1>
    <div class="form-block">
      <form id="add_question_form" method="post">
        {{ form.formset.management_form }}
        {% csrf_token %}
        <div class="field">
          <div class="control">
            {{ form.question_text }}
          </div>
        </div>
        <div id="answer_set">
          {% for form_element in form.formset %}
          <div class="field">
            <div class="control">
              {{ form_element.answer }}
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="field" style="margin-top:1em;">
          <p class="control">
            <div class="button is-primary" onclick="add_another_promptform()"><i class="fas fa-plus"></i></a>
          </p>
        </div>

        <div class="field" style="margin-top:1em;">
          <div class="control">
            <button type="submit" class="button is-primary">
              Submit
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div id="empty_form" style="display:none">
    <div class="field">
      <div class="control">
        {{ form.formset.empty_form.answer}}
      </div>
    </div>
  </div>

</section>
{% endblock content %}