{% extends 'base.html' %}
{% block content %}

    <section class="section">
        <div class="container">
            <h1 class="title is-1">Random Question <a
                    href="{% url 'core:answer_question' question_id=question.id %}">#{{ question.id }}</a></h1>

            <div class="form-block">
                <h2 class="title is-2">{{ question.question_text }}</h2>
                {% include "components/question_form.html" with question_form=form random=True %}
            </div>
        </div>
    </section>
{% endblock content %}
