{% extends 'base.html' %}
{% load fontawesome_5 %}
{% block head %}
{% endblock head %}

{% block content %}

    <section class="section">
        <div class="container">
            <h1 class="title is-1">Question <a
                    href="{% url 'core:answer_question' question_id=question.id %}">#{{ question.id }}</a></h1>
            <div class="form-block">
                <h2 class="subtitle is-2">
                    {{ question.question_text }}
                </h2>
                {% include "components/question_form.html" with question_form=form random=False %}
            </div>
        </div>
    </section>
{% endblock content %}