<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load fontawesome_5 %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% fontawesome_5_static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    {# Next two are for bulma if we were to use it #}
    <link href="{% static 'css/bulma-styled.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css"/>
    <script src="{% static 'js/bundle.js' %}" type="text/javascript"></script>
</head>
<body>
<header>
    {% if user.is_authenticated %}
        {% include "components/navbar.html" %}
    {% endif %}
</header>
<main>
    {% block content %}
    {% endblock %}
</main>

{% block scripts %}
{% endblock %}
</body>
</html>
