{% extends "base.html" %}
{% block content %}

    <section class="section">
        <div class="container">
            {% if latest_question_list %}
                <ul>
                    {% for question in latest_question_list %}
                        <li>
                            <a href="{% url 'core:answer_question' question.id %}">
                                {{ question.question_text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>
                    No questions are available.
                </p>
            {% endif %}
        </div>
    </section>
{% endblock %}
