{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            {% for tuple in list_of_match_tuples %}
                <div class="columns">
                    <div class="column">
                        {% if tuple.0 %}
                            {% include "components/match_card.html" with match=tuple.0 %}
                        {% endif %}
                    </div>
                    <div class="column">
                        {% if tuple.1 %}
                            {% include "components/match_card.html" with match=tuple.1 %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
