{% extends "base.html" %}
{% block content %}
  <div id="presentation"></div>
  <main class="inner cover" role="main">
    <h1 class="cover-heading">
      data based dating
    </h1>
    <p class="lead">
      why i wanted to do this
    </p>
    <p class="lead">
      the algorithm
    </p>
    <p class="lead">
      the questions
    </p>
    <p class="lead">
      <a class="button is-outlined is-primary" href="{% url 'login' %}">
        login
      </a>
    </p>
  </main>
{% endblock %}
