{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">

            <h1 class="title is-1">My Profile</h1>
            <div class="box">
                <div class="block">
                    <h2 class="subtitle is-2">{{ req_user.username }} <p class="tag is-light">42 Berlin</p></h2>
                    <p class="tag is-light">queer</p>
                    <p class="tag is-light">poly</p>
                    <p class="tag is-black">butch</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section">

        <div class="container">
            <h3 class="subtitle is-3"></h3>
            {% for question, answer in html_answers %}
                {% include "components/custom_profile_message.html" with question=question answer=answer %}
            {% empty %}
                <p>No answers yet.</p>
            {% endfor %}
        </div>
    </section>


    <section class="section">
        <div class="container">
            <h2 class="subtitle is-2">Answered Questions</h2>
            <p>You answered {{ question_answers|length }} questions.</p>
            {% for answer in question_answers %}
                {% include "components/question_collapsed_card.html" with answer=answer %}
            {% empty %}
                <p>No answers yet.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}