{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1 class="title is-1">
        Sign up!
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="button is-primary" type="submit">
            Submit
        </button>
    </form>
{% endblock %}
